<div class="ekart--products--container">
    <!-- <img [src]='product.pImage'>
    <p>Name: {{ product.name }}</p> 
    <p>Price: {{'$' + product.price}}</p>
    <P>Color: {{product.color}}</P>
    <p>Discounted Price: {{'$'+ getDiscountedPrice().toFixed(2)}}</p>
    <p>{{product.instock > 0 ? 'Only ' + product.instock + ' items Left' : 'Out of Stock'}}</p>
    <button bind-disabled = 'isOutOfStock()' event = onClick()>Buy Now</button> -->
     <!-- <button (click)="ondecrementPCount($event)" >-</button>
     <span>{{addToCart}}</span>
     <button (click)="onIncrementPCount($event)" >+</button> -->
    <!-- <input (input)="onNameChange($event)"><br> -->
    <!-- <p>Owner = {{name}}</p> -->
    <app-search (searchTextChanged)="typedText($event)"></app-search>
    <!-- <div *ngFor="let item of [2,3,4,5,6,8]">
        <p>Hi {{item}}</p>
    </div> -->
    <!-- <app-product-list class="display--flex"></app-product-list> -->
    <app-product-list [searchText]="text"></app-product-list>
</div>